{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{yml,yaml,css,scss,less}",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.{html,htm}",
      "options": {
        "parser": "html",
        "printWidth": 120
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.{json,jsonc}",
      "options": {
        "trailingComma": "none"
      }
    },
    {
      "files": "package*.json",
      "options": {
        "printWidth": 120,
        "trailingComma": "none"
      }
    }
  ]
}
