# Core Django
Django==5.2.9
djangorestframework==3.16.1
django-cors-headers==4.7.0

# Database
psycopg2-binary==2.9.10

# Environment & Configuration
python-dotenv==1.1.1
whitenoise==6.9.0

# API Documentation
drf-yasg==1.21.10

# Authentication & Security
djangorestframework-simplejwt==5.5.1
django-ratelimit==4.1.0

# Utils
requests==2.32.5
Pillow==11.3.0
django-extensions==4.1.0

# WebSocket support
channels==4.3.1
channels-redis==4.3.0
daphne==4.2.1
redis==6.4.0

# Development
ipython==8.37.0

# Production
gunicorn==23.0.0